Package: com.nito.ethereal
Priority: extra
Section: Utilities
Maintainer: Kevin Bradley
Architecture: appletvos-arm64
Version: 1.5-49
Depends: firmware (>= 9.0), com.nito.breezy (>= 2.5.2-9), org.videolan.vlckit (>= 3.5.1)
Pre-Depends: cy+model.appletv
Description: AirDrop video files straight to your device for immediate playback
Name: ethereal
Author: Kevin Bradley
Depiction: https://nitosoft.com/ATV4/eth/eth.json

